.navbar{
  margin-bottom: 0;
  border: none;
}

//#navbar-logo-buda,
#buda-logo-follower-jumbotron{
  font-family: 'Kaushan Script', cursive;
  font-size: 40px;
  color: #181616;
  margin-right: 6px;
}

//#navbar-logo-buda:hover,
#buda-logo-follower-jumbotron:hover {
  color: #A92F41;
}

//#buda-menu-1,
//#buda-menu-2,
//#buda-menu-3,
#buda-menu-1-jumbotron,
#buda-menu-2-jumbotron,
#buda-menu-3-jumbotron{
  font-family: 'Arimo', sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #e5dfc5;
}

//#buda-menu-1:hover,
//#buda-menu-2:hover,
//#buda-menu-3:hover,
#buda-menu-1-jumbotron:hover,
#buda-menu-2-jumbotron:hover,
#buda-menu-3-jumbotron:hover{
  color: #91C7A9;
}

#buda-menu-1-jumbotron:active,
#buda-menu-2-jumbotron:active,
#buda-menu-3-jumbotron:active{
  color: #A92F41;
}
.buda-portfolio,
#buda-about-name{
  font-family: 'Indie Flower', cursive;
  color: #A92F41;
}

#buda-about-name{
  padding: 30px;
}

#buda-about-description{
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
  color: #A92F41;
}
#buda-about-description-first-part{
  color: #e5dfc5;
}

#buda-slogan{
  color: #e5dfc5;

  font-family: 'Arimo', sans-serif;
}
