// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.jumbotron{
  // background: asset-url('wallpaper.jpeg') no-repeat center;
  background: -webkit-gradient(linear,
  left top, left bottom,
  color-stop(0%, rgba(0, 0, 0, 0)),
  color-stop(88%, rgba(0, 0, 0, 0)),
  color-stop(100%, rgba(37, 33, 32, 1))),
  asset-url('wallpaper.jpeg') no-repeat center;
  background-size: cover;
  border: none;
  padding-top: 0%;
}



#header-text{
  margin-top: 25%;
}

#chevron-down-wallapaper{
  margin-top: 30%;
  color: #e5dfc5;
}
#chevron-down-wallapaper:active,
#chevron-down-wallapaper:hover{
  color: #A92F41;
}

#buda-kristi{
  border: 7px solid #e5dfc5;
  margin: 0 auto;
  width: 200px;
  height: auto;
}
#buda-kristi:hover{
  border: 7px solid #A92F41;
}
#buda-kristi:active{
  border: 7px solid #A92F41;
}
